/*-----------Google Font------------*/
@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    padding: 20vmin 0;
}
span{
    color: #ff512f;
}


.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 9999;
    transition: all 1s ease;
}

:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255, 255, 255, 0.877);
  }

  /* -----------------Header Starts here--------------- */
  header{
      background: #dd2476;
      background: var(--bggradient);
  }
  header a{
      font-family: var(--Sniglet-font);
      font-size: 0.9em;
      color: whitesmoke;
  }
  .dropdown-content{
      display: none;
      position: absolute;
      background: white;
      min-width: 160px;
      box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
      z-index: 1;
  }
  .dropdown-content a{
      color: black;
      padding: 12px 16px;
      display: block;
  }
  .dropdown-content a:hover{
      background: #ddd;
  }
  .dropdown:hover .dropdown-content{
      display: block;
  }
  header .nav-item:last-child{
      padding-right: 10.5em;
  }
  header .nav-item{
      padding-right: 0.9em;
  }
  header .navbar-brand{
      padding-left: 8rem;
      font-size: 4vmin;
  }
  header .nav-link{
      font-size: 2.5vmin;
  }
  header .nav-link:hover{
      color: yellow;
  }
  header .row .col-md-5{
      padding: 4.2vmin 1vmin;
  }
  header .row .col-md-7{
      padding: 22vmin 1vmin;
      padding-bottom: 35vmin;
      font-family: var(--Rubik);
  }
  header .row .col-md-5 img{
      width: 100%;
  }
  header .container .col-md-7 h6{
      padding: 1vmin;
      letter-spacing: 4px;
      color: whitesmoke;
  }
  header .container .col-md-7 h1{
      font-size: 7.9vmin;
      font-weight: bold;
      padding: 0.1em 0;
  }
  header .container .col-md-7 p{
      padding: 1vmin 5vmin;
      color: whitesmoke;
  }
  header .container .col-md-7 button{
      border-radius: 30px;
      font-weight: bold;
  }


   /* -----------------About Section Starts here--------------- */
   .about h1{
 
    font-size: 6vmin;
    padding-bottom: 2em;
    color: var(--light-black);
}
   .about .row .col-md-6 .pray img{
       opacity: 0.8;
       width: 80%;
       border-radius: 0.2em;
   }
   .about .row .col-md-6:last-child{
       position: relative;
   }
   .about .row .col-md-6 .panel{
       position: absolute;
       top: 7vmin;
       left: -18vmin;
       background: linear-gradient(rgb(204, 201, 201), rgb(255, 255, 255));
       border-radius: 3px;
       text-align: left;
       padding: 13vmin 5vmin 20vmin 10vmin;
       box-shadow: 0 25px 42px rgba(0,0,0,0.2);
       font-family: var(--Rubik);
       z-index: 1;
   }
   .about .row .col-md-6 .panel h1{
       font-weight: bold;
       padding: 0.4em 0;
       font-size: 2em;
   }
   .about .row .col-md-6 .panel p{
       font-size: 1em;
       color: rgba(0,0,0,0.5);
   }


   /* -----------------Features Section Starts here--------------- */
   .features .cover{
       width: 100%;
       height: 55vmin;
       background: url('../images/pexels-photo-452738.jpeg');
      background-position: -30em -19em;
       background-size: 150%;
       background-repeat: no-repeat;
       position: relative;
   }
   .features .cover .content{
       background: rgba(0,0,0,0.7);
       height: 100%;
       width: 100%;
       padding-top: 19vmin;
   }
   .features .cover .content h1{
       font-family: var(--Patua);
       font-size: 6vmin;
       color: whitesmoke;
   }
   .features .cover .content p{
    font-family: var(--Rubik);
    font-size: 2vmin;
    color:#e5e5e5
}
.features .numbers .rect{
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0 rgba(255,0,0,0.349);
}
.features .numbers {
    margin-top: -15vmin;
}
.features .numbers .rect h1{
    font-size: 5rem;
    color: tomato;
}
.features .numbers .rect p{
    font-family: var(--Patua);
}



 /* -----------------Purchase Section Starts here--------------- */
 .purchase h1{
     padding-top: 15vmin;
     padding-bottom: 0.1em;
     color: var(--light-black);
 }
 .purchase p{
     color: var(--light-black);
     font-size: 3vmin;
     padding-bottom: 10vmin;
 }
 .purchase .cards .card{
     width: 22rem;
     margin: 3vmin;
 }
 .purchase .cards div{
     padding: 0;
     margin: 0;
 }
 .purchase .cards .card .title{
     background: rgba(208,241,241,0.199);
     padding: 1.4rem 2.5rem;
     font-size: 2vmin;
 }
 .purchase .cards .card .card-text{
     padding: 2.5rem 3rem;
     color: var(--light-black);
 }
 .purchase .cards .card .card-body .pricing{
    background: rgba(208,241,241,0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
 }
 .purchase .cards .card .card-body .pricing h2{
     font-size: 10vmin;
     padding: 1em 0.5em;
     
 }


  /* -----------------Visit Section Starts here--------------- */
  .visit{
      height: 75vmin;
      margin-top: 15vmin;
      background: var(--bggradient);
  }
  .visit .col-md-12 h1{
      padding: 2em 0 0.5em 0;
      color: whitesmoke;
      font-size: 6vmin;
  }
  .visit .col-md-12 p{
      padding: 0 4em;
      padding-bottom: 2em;
      color: var(--light-gray);
      font-size: 3vmin;
  }
  .visit .desktop,
  .visit .mobile{
      background: white;
      display: inline-block;
      border-radius: 3em;
      padding: 2vmin 4.5vmin;
      margin: 1em;
  }
  .visit .desktop h3,
  .visit .mobile h3{
      font-size: 4vmin;
  }
  .visit .desktop p,
  .visit .mobile p{
    font-size: 2vmin;
}

  /* -----------------Testimonials Section Starts here--------------- */
  .testimonials .container h1{
      font-size: 6vmin;
  }
  .testimonials .team{
      padding: 10vmin 4vmin;
  }
  .testimonials .team .card{
      width: 22rem;
  }
  .testimonials .team .card .card-text{
      padding: 0.5em;
  }
  .testimonials .team .card .card-body a{
      font-size: 1.5em;
  }
  .border-radius{
      border-radius: 50%;
      width: 60%;
  }


   /* -----------------Footer Section Starts here--------------- */
   footer{
       background: rgba(0,0,0,0.815);
       overflow-x: hidden;
       padding: 14vmin 18vmin;
   }
   footer input{
       border: none !important;
   }
   footer input::placeholder{
       color: white !important;
   }
   footer .input-group .input-group-text{
       background: var(--bggradient);
       border: none;
   }
   footer .column i{
       color: #dd2476;
   }
   footer .column i+i{
       padding: 0 0.5em;
   }
 
   
  
